h1{
    color: rgb(235, 235, 235);
    margin-left: 770px;
    margin-top: 20px;
    margin-right: 710px;
    margin-bottom: 100px;
border-color: rgb(223, 226, 26);
border: 1px;
font-size:50px;
background-color:rgb(6, 62, 114);
border-radius: 20px;
text-shadow: 0 0 10px #36e8ff, 0 0 20px hsl(216, 87%, 46%); 

}
body{
   
    border: 1px;
background-repeat: no-repeat;
background-size: cover;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt_WVy7cmeN003-z7eQ4CMNTXSO5FE2_ZkpOhGaeUnBA&s=10");
}
label{
    border-color: rgb(9, 63, 238);
    background-color:rgb(6, 62, 114);
    color: white;
    font-size: 30px;
    text-shadow: 0 0 10px #b1b3c9, 0 0 20px #0099ff;
    border-radius: 10px;
    margin-left: 750px;
    margin-top: 100px;
    border: 1px;
}
table{
    color: white;
    text-shadow: 0 0 10px #8a7d7d, 0 0 20px #0c0c0c;
    border: 1px;
    border-color: rgb(0, 174, 255);
    margin-left: 700px;
    font-size:x-large;
}
select{
    
    height: 23px;
    width: 90px;
}
